body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Lato', sans-serif;
}

main {
  min-width: 960px;
  width: 50vw;
  max-width: 1920px;
  margin: auto;
  margin-top: 100px;
}
